.scrollComponent{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.createPostContainer{
    display: flex;
    height:11svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    position: relative;
    align-items: center;
    background-color: rgb(255,246,246);
    border-radius: 20px;
}
.userProfile{
 border-radius: 100%;
 height: 80%;
 width: fit-content;
}
.createPostContainer > textarea{
    width: 100%;
    
}
.wrapper{
   display: flex;
   flex-direction: column;
   gap:1.3rem; 

}
.Fab{
    background-color: rgb(0,59,130);
    border-radius: 100%;
    justify-content: center;
    display: flex;
}
.uploadButton{
    position: absolute;
    width: 70px;
    height: 40px;
    right:0;
    bottom: -55%;
    font-weight: 500;
    background: rgb(23, 88, 135);
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fab>svg{
    width:fit-content;
    height: 30px;
    color: white;
}
.textArea{
    width:80%;
    height: 80%;
    border-radius: 10px;
    border: 1.5px solid silver;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
    scrollbar-width: none;
}
.singleCard{
    width:100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179,179,179);
}
.singleCard_profileContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap:1.2rem;
  padding: 1.2rem;
 
}
.singleCard_profileContainer >img{
    width:10%;
    border-radius: 50%;
}

.singleCard_image{
    width:100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}
.singleCard_image >img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.optionsContainer{
    display: flex;
    height:20%;
    width:100%;
    justify-content: space-between;
    padding-block: 0.5rem;
    cursor: pointer;
}
.singleOption_optionsContainer{
    display: flex;
    align-items: center;
    gap:1rem;
     justify-content: center;
}
.singleOption_optionsContainer > svg{
    height:80%;
    width:20%;
}
.commentContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allCommentContainer{
    width: 40vw;
    min-width: 40svh;
    max-width: 1120px;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
}
.postCommentContainer{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
.postCommentContainer > input {
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    border: none;
    outline: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}
.postCommentContainer > input  :focus{
   border: 1px solid silver; 
}

.postCommentContainer_commentBtn {
    flex: 0.1;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 1rem;
    background: rgb(40, 48, 54);
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}
@media screen and (max-width:600px){
    .allCommentContainer{
        width:90%;
    }
}