.homeContainer{
    display:flex;
}
.homeContainer >div:nth-child(odd){
    flex:0.2;
}
.homeContainer > div:nth-child(even){
    flex:0.6;
}
.homeContainer_leftBar{
    display:flex;
    flex-direction: column;
    gap:1.2rem;
    align-items: start;
    border-right: 1px solid rgb(222,222,222);
}
.homeContainer_extraContainer{
    border-left: 1px solid rgb(222,222,222);
    padding-left: 1.2rem;
}
.extraContainer_profile{
    display: flex;
    border: 1px solid silver;
    padding-block: 1rem;
    gap: 0.5rem;
    border-radius: 10px;
    padding-inline: 1rem;
    width: 95%;
    cursor: pointer;

}
.profiless{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.extraContainer_profile img {
    width: 2rem;
    border-radius: 50%;
}

.homeContainer_feedContainer{
   padding-inline: 0.8rem; 
}
.sideBarOptions{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.8rem;
    height:2.5rem;
    margin-left:1.2rem;
    cursor:pointer;
    transition: all 0.2ms;
}
.sideBarOptions:hover{
    transform: scale(1.02);
}
.sideBarOptions > svg{
    height: 1.4em;
    
}
.mobileNavBar{
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    display: none;
    justify-content: space-around;
    background: white;
    align-items: center;
}
.mobileNavBar svg{
    height: 2.2rem;
    width: 2rem;
}
@media only screen and (max-width:600px){
    .homeContainer_extraContainer{
        display: none;
    }
    .homeContainer{
        display: block;
    }
    .homeContainer_leftBar{
        display: none;
    }
    .mobileNavBar{
        display: flex;
    }
    .homeContainer_feedContainer{
        padding-bottom:8vh ;
    }
}