.container{
    padding: 1.3rem;
    background: rgb(249, 245, 246);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.backDropContainer{
    width: 100%;
    height: 30vh;
    background: url("https://images.pexels.com/photos/545521/pexels-photo-545521.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}
.backDropContainer img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -35%;
    left: 4%;
    text-align: center;
}
.profileContainer_details{
    padding-top: 6.6rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 0.8rem;
    margin-top: 1rem;
}
.card_profileContainer > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.connectBtn{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    margin-top: 0.8rem;
    background: rgba(3,93,183,0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.singleOption_optionsContainer{
    display: flex;
    align-items: center;
    gap:1rem;
     justify-content: center;
}
.connectionButton{
    padding-inline: 0.8rem;
    margin-top: 0.8rem;
    padding-block: 0.3rem;
    background: rgba(206, 208, 211, 0.905);
    border:2px solid rgba(109, 146, 183, 0.905); ;
    outline: none;
    color: rgb(100, 141, 166);
    border-radius: 10px;
    cursor: pointer;
}

.workHistoryContainer{
 display: flex;
 gap: 1.4rem;
 padding-top: 1.4rem;
 width: 100%;
 flex-wrap:wrap;
}
.workHistoryCard{
min-width: fit-content;
padding-inline: 2.5rem;
border-radius: 10px;
padding-block: 1rem;
box-shadow: 10px 10px 15px rgb(173,173,173);
}

